<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="flux" type="WickedNite.Flux.FluxSectionHandler, WickedNite.Flux" />
  </configSections>
  <flux>
    <modules>
      <module type="WickedNite.Flux.Windsor.WindsorModule, WickedNite.Flux.Windsor" />
    </modules>
  </flux>
</configuration>